# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# additionals
/src/utils/configs.js

# backend binaries
/backend/GymTracker.Serverless.AddVisit/obj/
/backend/GymTracker.Serverless.AddVisit/bin/
/backend/GymTracker.Serverless.AddVisit/.vs/
/backend/GymTracker.Serverless.GetSingleVisit/obj/
/backend/GymTracker.Serverless.GetSingleVisit/bin/
/backend/GymTracker.Serverless.GetSingleVisit/.vs/